
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCategoryLabel" translate="lifestylebackendApp.category.home.createOrEditLabel">Create or edit a Category</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.category.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="lifestylebackendApp.category.categoryName" for="field_categoryName">CategoryName</label>
            <input type="text" class="form-control" name="categoryName" id="field_categoryName"
                    ng-model="vm.category.categoryName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="lifestylebackendApp.category.numberOfQuestionsPerPage" for="field_numberOfQuestionsPerPage">NumberOfQuestionsPerPage</label>
            <input type="number" class="form-control" name="numberOfQuestionsPerPage" id="field_numberOfQuestionsPerPage"
                    ng-model="vm.category.numberOfQuestionsPerPage"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="lifestylebackendApp.category.questionHeading" for="field_questionHeading">QuestionHeading</label>
            <input type="text" class="form-control" name="questionHeading" id="field_questionHeading"
                    ng-model="vm.category.questionHeading"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="lifestylebackendApp.category.categoryGroupId" for="field_categoryGroupId">CategoryGroupId</label>
            <input type="number" class="form-control" name="categoryGroupId" id="field_categoryGroupId"
                    ng-model="vm.category.categoryGroupId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="lifestylebackendApp.category.preText" for="field_preText">PreText</label>
            <input type="text" class="form-control" name="preText" id="field_preText"
                    ng-model="vm.category.preText"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="lifestylebackendApp.category.postText" for="field_postText">PostText</label>
            <input type="text" class="form-control" name="postText" id="field_postText"
                    ng-model="vm.category.postText"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
