<div>
    <h2 translate="lifestylebackendApp.category.home.title">Categories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="category.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="lifestylebackendApp.category.home.createLabel">
                        Create new Category
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="categoryName"><span translate="lifestylebackendApp.category.categoryName">CategoryName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numberOfQuestionsPerPage"><span translate="lifestylebackendApp.category.numberOfQuestionsPerPage">NumberOfQuestionsPerPage</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="questionHeading"><span translate="lifestylebackendApp.category.questionHeading">QuestionHeading</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="categoryGroupId"><span translate="lifestylebackendApp.category.categoryGroupId">CategoryGroupId</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="preText"><span translate="lifestylebackendApp.category.preText">PreText</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="postText"><span translate="lifestylebackendApp.category.postText">PostText</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="category in vm.categories track by category.id">
                    <td><a ui-sref="category-detail({id:category.id})">{{category.id}}</a></td>
                    <td>{{category.categoryName}}</td>
                    <td>{{category.numberOfQuestionsPerPage}}</td>
                    <td>{{category.questionHeading}}</td>
                    <td>{{category.categoryGroupId}}</td>
                    <td>{{category.preText}}</td>
                    <td>{{category.postText}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="category-detail({id:category.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="category.edit({id:category.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="category.delete({id:category.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
