
<div>
    <h2><span translate="lifestylebackendApp.category.detail.title">Category</span> {{vm.category.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="lifestylebackendApp.category.categoryName">CategoryName</dt></dt>
        <dd>
            <span>{{vm.category.categoryName}}<span>
        </dd>
        <hr>
        <dt><span translate="lifestylebackendApp.category.numberOfQuestionsPerPage">NumberOfQuestionsPerPage</dt></dt>
        <dd>
            <span>{{vm.category.numberOfQuestionsPerPage}}<span>
        </dd>
        <hr>
        <dt><span translate="lifestylebackendApp.category.questionHeading">QuestionHeading</dt></dt>
        <dd>
            <span>{{vm.category.questionHeading}}<span>
        </dd>
        <hr>
        <dt><span translate="lifestylebackendApp.category.categoryGroupId">CategoryGroupId</dt></dt>
        <dd>
            <span>{{vm.category.categoryGroupId}}<span>
        </dd>
        <hr>
        <dt><span translate="lifestylebackendApp.category.preText">PreText</dt></dt>
        <dd>
            <span>{{vm.category.preText}}<span>
        </dd>
        <hr>
        <dt><span translate="lifestylebackendApp.category.postText">PostText</dt></dt>
        <dd>
            <span>{{vm.category.postText}}<span>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
