
<div>
    <h2><span translate="lifestylebackendApp.question.detail.title">Question</span> {{question.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="lifestylebackendApp.question.question">Question</span>
                </td>
                <td>
                    <span class="form-control-static">{{question.question}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="lifestylebackendApp.question.weightKarma">WeightKarma</span>
                </td>
                <td>
                    <span class="form-control-static">{{question.weightKarma}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="lifestylebackendApp.question.category">category</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="category.detail({id:question.category.id})">{{question.category.categoryName}}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="lifestylebackendApp.question.questionType">questionType</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="questionType.detail({id:question.questionType.id})">{{question.questionType.questionType}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
