<div>
    <h2 translate="lifestylebackendApp.question.home.title">Questions</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="question.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="lifestylebackendApp.question.home.createLabel">Create new Question
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="question"><span translate="lifestylebackendApp.question.question">Question</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="weightKarma"><span translate="lifestylebackendApp.question.weightKarma">WeightKarma</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category.categoryName"><span translate="lifestylebackendApp.question.category">category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="questionType.questionType"><span translate="lifestylebackendApp.question.questionType">questionType</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="question in questions track by question.id">
                    <td><a ui-sref="question.detail({id:question.id})">{{question.id}}</a></td>
                    <td>{{question.question}}</td>
                    <td>{{question.weightKarma}}</td>
                    <td>
                        <a ui-sref="category.detail({id:question.category.id})">{{question.category.categoryName}}</a>
                    </td>
                    <td>
                        <a ui-sref="questionType.detail({id:question.questionType.id})">{{question.questionType.questionType}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="question.detail({id:question.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="question.edit({id:question.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="question.delete({id:question.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
