
<div>
    <h2><span translate="lifestylebackendApp.scoreFeedback.detail.title">ScoreFeedback</span> {{vm.scoreFeedback.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="lifestylebackendApp.scoreFeedback.scoreLevelOne">ScoreLevelOne</dt></dt>
        <dd>
            <span translate="{{'lifestylebackendApp.Scorelevel.' + vm.scoreFeedback.scoreLevelOne}}">{{vm.scoreFeedback.scoreLevelOne}}</span>
        </dd>
        <hr>
        <dt><span translate="lifestylebackendApp.scoreFeedback.scoreLevelTwo">ScoreLevelTwo</dt></dt>
        <dd>
            <span translate="{{'lifestylebackendApp.Scorelevel.' + vm.scoreFeedback.scoreLevelTwo}}">{{vm.scoreFeedback.scoreLevelTwo}}</span>
        </dd>
        <hr>
        <dt><span translate="lifestylebackendApp.scoreFeedback.userFeedBack">UserFeedBack</dt></dt>
        <dd>
            <span>{{vm.scoreFeedback.userFeedBack}}<span>
        </dd>
        <hr>
        <dt><span translate="lifestylebackendApp.scoreFeedback.category">category</span></dt>
        <dd>
            <a ui-sref="category-detail({id:vm.scoreFeedback.category.id})">{{vm.scoreFeedback.category.categoryName}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
