<div>
    <h2 translate="lifestylebackendApp.scoreFeedback.home.title">ScoreFeedbacks</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="score-feedback.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="lifestylebackendApp.scoreFeedback.home.createLabel">
                        Create new ScoreFeedback
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="scoreLevelOne"><span translate="lifestylebackendApp.scoreFeedback.scoreLevelOne">ScoreLevelOne</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="scoreLevelTwo"><span translate="lifestylebackendApp.scoreFeedback.scoreLevelTwo">ScoreLevelTwo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userFeedBack"><span translate="lifestylebackendApp.scoreFeedback.userFeedBack">UserFeedBack</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category.categoryName"><span translate="lifestylebackendApp.scoreFeedback.category">category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="scoreFeedback in vm.scoreFeedbacks track by scoreFeedback.id">
                    <td><a ui-sref="score-feedback-detail({id:scoreFeedback.id})">{{scoreFeedback.id}}</a></td>
                    <td translate="{{'lifestylebackendApp.Scorelevel.' + scoreFeedback.scoreLevelOne}}">{{scoreFeedback.scoreLevelOne}}</td>
                    <td translate="{{'lifestylebackendApp.Scorelevel.' + scoreFeedback.scoreLevelTwo}}">{{scoreFeedback.scoreLevelTwo}}</td>
                    <td>{{scoreFeedback.userFeedBack}}</td>
                    <td>
                        <a ui-sref="category-detail({id:scoreFeedback.category.id})">{{scoreFeedback.category.categoryName}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="score-feedback-detail({id:scoreFeedback.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="score-feedback.edit({id:scoreFeedback.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="score-feedback.delete({id:scoreFeedback.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
