
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myScoreFeedbackLabel" translate="lifestylebackendApp.scoreFeedback.home.createOrEditLabel">Create or edit a ScoreFeedback</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.scoreFeedback.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="lifestylebackendApp.scoreFeedback.scoreLevelOne" for="field_scoreLevelOne">ScoreLevelOne</label>
            <select class="form-control" name="scoreLevelOne" ng-model="vm.scoreFeedback.scoreLevelOne" id="field_scoreLevelOne">
                <option value="HIGH" translate="lifestylebackendApp.Scorelevel.HIGH">HIGH</option>
                <option value="MEDIUM" translate="lifestylebackendApp.Scorelevel.MEDIUM">MEDIUM</option>
                <option value="LOW" translate="lifestylebackendApp.Scorelevel.LOW">LOW</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="lifestylebackendApp.scoreFeedback.scoreLevelTwo" for="field_scoreLevelTwo">ScoreLevelTwo</label>
            <select class="form-control" name="scoreLevelTwo" ng-model="vm.scoreFeedback.scoreLevelTwo" id="field_scoreLevelTwo">
                <option value="HIGH" translate="lifestylebackendApp.Scorelevel.HIGH">HIGH</option>
                <option value="MEDIUM" translate="lifestylebackendApp.Scorelevel.MEDIUM">MEDIUM</option>
                <option value="LOW" translate="lifestylebackendApp.Scorelevel.LOW">LOW</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="lifestylebackendApp.scoreFeedback.userFeedBack" for="field_userFeedBack">UserFeedBack</label>
            <textarea class="form-control" name="userFeedBack" id="field_userFeedBack"
                    ng-model="vm.scoreFeedback.userFeedBack"
                    ng-maxlength="15000" >
                </textarea>
            <div ng-show="editForm.userFeedBack.$invalid">
                <p class="help-block"
                    ng-show="editForm.userFeedBack.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="15000">
                    This field cannot be longer than 15000 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="lifestylebackendApp.scoreFeedback.category" for="field_category">category</label>
            <select class="form-control" id="field_category" name="category" ng-model="vm.scoreFeedback.category" ng-options="category as category.categoryName for category in vm.categorys | orderBy:'id' track by category.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
