
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAnswerLabel" translate="lifestylebackendApp.answer.home.createOrEditLabel">Create or edit a Answer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.answer.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="lifestylebackendApp.answer.answerName" for="field_answerName">AnswerName</label>
            <input type="text" class="form-control" name="answerName" id="field_answerName"
                    ng-model="vm.answer.answerName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="lifestylebackendApp.answer.answerClass" for="field_answerClass">AnswerClass</label>
            <input type="text" class="form-control" name="answerClass" id="field_answerClass"
                    ng-model="vm.answer.answerClass"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="lifestylebackendApp.answer.weight" for="field_weight">Weight</label>
            <input type="number" class="form-control" name="weight" id="field_weight"
                    ng-model="vm.answer.weight"
                     />
        </div>

        <div class="form-group">
            <label translate="lifestylebackendApp.answer.question" for="field_question">question</label>
            <select class="form-control" id="field_question" name="question" ng-model="vm.answer.question" ng-options="question as question.question for question in vm.questions track by question.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
