
<div>
    <h2><span translate="lifestylebackendApp.answer.detail.title">Answer</span> {{vm.answer.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="lifestylebackendApp.answer.answerName">AnswerName</dt></dt>
        <dd>
            <span>{{vm.answer.answerName}}<span>
        </dd>
        <hr>
        <dt><span translate="lifestylebackendApp.answer.answerClass">AnswerClass</dt></dt>
        <dd>
            <span>{{vm.answer.answerClass}}<span>
        </dd>
        <hr>
        <dt><span translate="lifestylebackendApp.answer.weight">Weight</dt></dt>
        <dd>
            <span>{{vm.answer.weight}}<span>
        </dd>
        <hr>
        <dt><span translate="lifestylebackendApp.answer.question">question</span></dt>
        <dd>
            <a ui-sref="question-detail({id:vm.answer.question.id})">{{vm.answer.question.question}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
