<div>
    <h2 translate="lifestylebackendApp.surveyResults.home.title">Survey Results</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="survey-results.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="lifestylebackendApp.surveyResults.home.createLabel">
                        Create new Survey Results
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user_id"><span translate="lifestylebackendApp.surveyResults.user_id">User Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="answer_id"><span translate="lifestylebackendApp.surveyResults.answer_id">Answer Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="question_id"><span translate="lifestylebackendApp.surveyResults.question_id">Question Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category_id"><span translate="lifestylebackendApp.surveyResults.category_id">Category Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="survey_id"><span translate="lifestylebackendApp.surveyResults.survey_id">Survey Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="surveyResults in vm.surveyResults track by surveyResults.id">
                    <td><a ui-sref="survey-results-detail({id:surveyResults.id})">{{surveyResults.id}}</a></td>
                    <td>{{surveyResults.user_id}}</td>
                    <td>{{surveyResults.answer_id}}</td>
                    <td>{{surveyResults.question_id}}</td>
                    <td>{{surveyResults.category_id}}</td>
                    <td>{{surveyResults.survey_id}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="survey-results-detail({id:surveyResults.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="survey-results.edit({id:surveyResults.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="survey-results.delete({id:surveyResults.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
