
<div>
    <h2><span translate="lifestylebackendApp.surveyResults.detail.title">Survey Results</span> {{vm.surveyResults.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="lifestylebackendApp.surveyResults.user_id">User Id</span></dt>
        <dd>
            <span>{{vm.surveyResults.user_id}}</span>
        </dd>
        <hr>
        <dt><span translate="lifestylebackendApp.surveyResults.answer_id">Answer Id</span></dt>
        <dd>
            <span>{{vm.surveyResults.answer_id}}</span>
        </dd>
        <hr>
        <dt><span translate="lifestylebackendApp.surveyResults.question_id">Question Id</span></dt>
        <dd>
            <span>{{vm.surveyResults.question_id}}</span>
        </dd>
        <hr>
        <dt><span translate="lifestylebackendApp.surveyResults.category_id">Category Id</span></dt>
        <dd>
            <span>{{vm.surveyResults.category_id}}</span>
        </dd>
        <hr>
        <dt><span translate="lifestylebackendApp.surveyResults.survey_id">Survey Id</span></dt>
        <dd>
            <span>{{vm.surveyResults.survey_id}}</span>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
