
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySurveyResultsLabel" translate="lifestylebackendApp.surveyResults.home.createOrEditLabel">Create or edit a Survey Results</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.surveyResults.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.surveyResults.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="lifestylebackendApp.surveyResults.user_id" for="field_user_id">User Id</label>
            <input type="number" class="form-control" name="user_id" id="field_user_id"
                    ng-model="vm.surveyResults.user_id"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="lifestylebackendApp.surveyResults.answer_id" for="field_answer_id">Answer Id</label>
            <input type="number" class="form-control" name="answer_id" id="field_answer_id"
                    ng-model="vm.surveyResults.answer_id"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="lifestylebackendApp.surveyResults.question_id" for="field_question_id">Question Id</label>
            <input type="number" class="form-control" name="question_id" id="field_question_id"
                    ng-model="vm.surveyResults.question_id"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="lifestylebackendApp.surveyResults.category_id" for="field_category_id">Category Id</label>
            <input type="number" class="form-control" name="category_id" id="field_category_id"
                    ng-model="vm.surveyResults.category_id"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="lifestylebackendApp.surveyResults.survey_id" for="field_survey_id">Survey Id</label>
            <input type="number" class="form-control" name="survey_id" id="field_survey_id"
                    ng-model="vm.surveyResults.survey_id"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
