
<div>
    <h2><span translate="lifestylebackendApp.questionType.detail.title">QuestionType</span> {{vm.questionType.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="lifestylebackendApp.questionType.questionType">QuestionType</dt></dt>
        <dd>
            <span>{{vm.questionType.questionType}}<span>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
