
<div>
    <h2><span translate="lifestylebackendApp.answer.detail.title">Answer</span> {{answer.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="lifestylebackendApp.answer.answerName">AnswerName</span>
                </td>
                <td>
                    <span class="form-control-static">{{answer.answerName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="lifestylebackendApp.answer.answerClass">AnswerClass</span>
                </td>
                <td>
                    <span class="form-control-static">{{answer.answerClass}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="lifestylebackendApp.answer.weight">Weight</span>
                </td>
                <td>
                    <span class="form-control-static">{{answer.weight}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="lifestylebackendApp.answer.question">question</span>
                </td>
                <td>
                    <a class="form-control-static" ui-sref="question.detail({id:answer.question.id})">{{answer.question.question}}</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
