<div>
    <h2 translate="lifestylebackendApp.answer.home.title">Answers</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="answer.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="lifestylebackendApp.answer.home.createLabel">Create new Answer
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="answerName"><span translate="lifestylebackendApp.answer.answerName">AnswerName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="answerClass"><span translate="lifestylebackendApp.answer.answerClass">AnswerClass</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="weight"><span translate="lifestylebackendApp.answer.weight">Weight</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="question.question"><span translate="lifestylebackendApp.answer.question">question</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="answer in answers track by answer.id">
                    <td><a ui-sref="answer.detail({id:answer.id})">{{answer.id}}</a></td>
                    <td>{{answer.answerName}}</td>
                    <td>{{answer.answerClass}}</td>
                    <td>{{answer.weight}}</td>
                    <td>
                        <a ui-sref="question.detail({id:answer.question.id})">{{answer.question.question}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="answer.detail({id:answer.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="answer.edit({id:answer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="answer.delete({id:answer.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
