
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myQuestionLabel" translate="lifestylebackendApp.question.home.createOrEditLabel">Create or edit a Question</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.question.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="lifestylebackendApp.question.question" for="field_question">Question</label>
            <input type="text" class="form-control" name="question" id="field_question"
                    ng-model="vm.question.question"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="lifestylebackendApp.question.weightKarma" for="field_weightKarma">WeightKarma</label>
            <input type="number" class="form-control" name="weightKarma" id="field_weightKarma"
                    ng-model="vm.question.weightKarma"
                     />
        </div>

        <div class="form-group">
            <label translate="lifestylebackendApp.question.category" for="field_category">category</label>
            <select class="form-control" id="field_category" name="category" ng-model="vm.question.category" ng-options="category as category.categoryName for category in vm.categorys track by category.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="lifestylebackendApp.question.questionType" for="field_questionType">questionType</label>
            <select class="form-control" id="field_questionType" name="questionType" ng-model="vm.question.questionType" ng-options="questionType as questionType.questionType for questionType in vm.questiontypes track by questionType.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
