
<div>
    <h2><span translate="lifestylebackendApp.question.detail.title">Question</span> {{vm.question.id}}</h2>
    <hr>
    <dl class="dl-horizontal">
        <dt><span translate="lifestylebackendApp.question.question">Question</dt></dt>
        <dd>
            <span>{{vm.question.question}}<span>
        </dd>
        <hr>
        <dt><span translate="lifestylebackendApp.question.weightKarma">WeightKarma</dt></dt>
        <dd>
            <span>{{vm.question.weightKarma}}<span>
        </dd>
        <hr>
        <dt><span translate="lifestylebackendApp.question.category">category</span></dt>
        <dd>
            <a ui-sref="category-detail({id:vm.question.category.id})">{{vm.question.category.categoryName}}</a>
        </dd>
        <hr>
        <dt><span translate="lifestylebackendApp.question.questionType">questionType</span></dt>
        <dd>
            <a ui-sref="question-type-detail({id:vm.question.questionType.id})">{{vm.question.questionType.questionType}}</a>
        </dd>
        <hr>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
